*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    width: 100;
    height: 120px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.firstline{
    width: 100%;
    height: 30px;
    background-color: #EEEEEE;
    display: inline-block;
}
.manu-bar-all{
    display: inline-block;
    position: relative;
    bottom:3px
}
.manu-bar-all li {
    display: inline-block;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    color: #6F666F;
   padding-top: 5px;
   margin-left: 10px;
   position: relative;
   left: 60px;
}
.manu-bar-all li img{
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-left: 10px;
    position: relative;
    top: 3px;
}
.manu-bar-all2{
    display: inline-block;
    list-style: none;
    position: relative;
    margin-left: 750px;
}
.EnglishBtn{
    width: 90px;
    height: 40px ;
    position: relative; 
   
}
.EnglishBtn button{
   width: 100px;
   height: 40px;
   border: none;
   background-color: #ffffff;
   font-size: 16px;
   cursor: pointer;   
}
.EnglishBtn button span {
    color:#6F666F;
}
.Secondline{
    width: 100%;
    height: 86px;
    background-color: #ffffff;
    position: sticky;
    z-index: 1;
}
.logo{
    width: 22%;
    height: 86px;
    display:inline-block;
}
.logo img{
  width: 220px;
  position: absolute;
  left: 70px;
  top: 10px;
}
.nav-bar{
   width: 45%;
   height: 86px;
   display: inline-block;  
   text-decoration: none;
   position: relative;
}
.nav-bar ul{
    text-decoration: none;
    display: flex;
    z-index: 1;
    position: absolute;
    top: 25px;
    left: 0px;
    text-align: center;
}
.nav-bar ul li{
    text-decoration: none;
    display: flex;
    padding: 0 10px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #6F666F;
    font-size: 18px;
}
.Btnone{
    width: 14%;
    height: 86px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.Btnone button{
    color: #ffffff;
    background-color: #0D6DB7;
    text-decoration: none;
    width: 120px;
    height: 50px;
    position: absolute;
    right: 12px;
    top: 20px;
    border: none;
    cursor: pointer;
}
.Btntwo{
    width: 14%;
    height: 86px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.Btntwo button{
    text-decoration: none;
    width: 120px;
    height: 50px;
    position: absolute;
    left:12px;
    top: 20px;
    color:#ffffff;
    background-color: #8DC63F;
    border: none;
    cursor: pointer;
}
/* Front page start */
.Front-page{
    width: 100%;
    height: 560px;
}
.front-page-text{
    width: 49.5%;
    height: 248px;
    display: inline-block;
}
.All-text{
    width: 92%;
    height:400px;
   position: relative;
   left: 50px;
   bottom: 180px;

}
.H-one{
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.H-two{
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.H-two span{
    color: #8DC63F;
}
.paraone{
    font-size:26px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 5px;
}
.paraone span{
    color: #0D6DB7;
}  
.paratwo{
    font-size: 18px;
    color: #6A6A6A;
    padding-top: 10px;
    text-align: justify;
} 
button{
    width: 200px;
    height: 50px;
   position: relative;
   top: 25px;
}
.front-page-image{
    width: 50%;
    height: 560px;
    display: inline-block;    
}
.front-page-image img{
    width: 555px;
    padding-top: 30px;
    padding-left: 50px;
}
/* Front page End */

/* Second page start */
.Second-page{
    width: 100%;
    height: 200px;
    background-color: #ffffff;
}
.Second-page-border{
    width:85%;
    height:145px ;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   background-color: #F0FCDB;
   border-radius:10px;
   position: relative;
}
.General{
    width: 240px;
    height: 60px;
    background-color: #424242;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
}  
.General label{
    font-size: 15px;
    display: inline;
    color: #ffffff;
    background-color: #424242;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
}
.General input{
    background-color: #424242;
    border: none;
    width:70%;
    height: 30px;
    display: inline;
    padding-top: 25px;
}
.Blood{
    background-color: #ffffff;
    color: #000000;
    width: 320px;
    height: 50px;
    border-radius:10px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 270px;
    font-family:sans-serif;
    font-weight:500;
    border: none;
}
.Blood:hover{
    color: #ffffff;
    background-color: #424242;
}
.Family{
    background-color: #ffffff;
    color: #000000;
    cursor:pointer;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 350px;
    width: 150px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: none;

}
.Family:hover{
    color: #ffffff;
    background-color: #424242;
}
.Medical{
    background-color: #ffffff;
    color: #000000;
    cursor:pointer;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 180px;
    width: 150px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: none;

}
.Medical:hover{
    color: #ffffff;
    background-color: #424242;
}
.Food{
    background-color: #ffffff;
    color: #000000;
    cursor:pointer;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;    
    border: none;

}
.Food:hover{
    color: #ffffff;
    background-color: #424242;
}
.Donation{
    background-color: #8DC63F;
    color: #ffffff;
    cursor:pointer;
    border-radius: 10px;
    position: absolute;
    top: 80px;
    left: 280px;
    width: 170px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: none;
}
.Donation:hover{
    background-color: #8DC63F;
    color: #ffffff;
}
/* Second page End */

/* Third page Start */
.Third-page{
    width: 100%;
    height: 650px;
}
.Third-page img{
    width: 1100px;
    height: 600px;
    position:relative;
    left:100px;
    top: 25px;
    border-radius: 10px;
}
/* Third page End */

/* fourth page Start */
.Fourth-page{
    width: 100%;
    height:300px;
}
.heading{
    width: 100%;
    height: 70px;
    margin-top: 20px;
    padding-top: 15px;
}
.heading h2{
    text-align: center;
    font-size: 38px;
    font-family: sans-serif;
}
.Box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    height: 200px;
    position: relative;
}

.Welfare{
    width: 150px;
    height: 150px;
    border-radius:5%;
    background-color: #F0FCDB;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}
.Welfare p{
    font-size: 20px;
    color: #5F625C;

}
.Education{
    width: 150px;
    height: 150px;
    border-radius:5%;
    background-color: #F0FCDB;
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
}
.Education p{
    font-size: 20px;
    color: #5F625C;
}
/* Fourth page End */
/* Fifth Page Start */
.Fifth-page{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
    gap: 40px;
    align-items: center;
}
.first-box{
    width: 300px;
    height: 300px;
    border-radius:10px ;
    background-image: url(images/IT\ Enterperuer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-box p{
    color: #F4F4F4;
    font-size: 20px;
    position: absolute;
    font-weight: 700;
    top: 220px;
    left:15px;
    z-index:1;
}
.first-box button{
    background-color: #8DC63F;
    color: #ffffff;
    height: 40px;
    width: 90%;
    border: none;
    border-radius: 5%;
    position: absolute;
    top: 250px;

}
.second-box{
    width: 300px;
    height: 300px;
    border-radius:10px ;
    background-image: url(images/Daily\ food.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.second-box p{
    color: #F4F4F4;
    font-size: 20px;
    position: absolute;
    font-weight: 700;
    top: 220px;
    left:15px;
    z-index:1;
}
.second-box button{
    background-color: #8DC63F;
    color: #ffffff;
    height: 40px;
    width: 90%;
    border: none;
    border-radius: 5%;
    position: absolute;
    top: 250px;

}
.third-box{
    width: 300px;
    height: 300px;
    border-radius:10px ;
    background-image: url(images/Zakat.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.third-box p{
    color: #F4F4F4;
    font-size: 20px;
    position: absolute;
    font-weight: 700;
    top: 220px;
    left:15px;
    z-index:1;
}
.third-box button{
    background-color: #8DC63F;
    color: #ffffff;
    height: 40px;
    width: 90%;
    border: none;
    border-radius: 5%;
    position: absolute;
    top: 250px;
}
/* Fifth page End */
/* Sixth page start */
.Sixth-page{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.Sixth-page-image{
    width: 50%;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: right                  ;
}
.Sixth-page-image img{
    width: 600px;
    height: 450px;
    border-top-left-radius: 200px;
}
.Sixth-page-content{
    width: 50%;
    height: 500px;
    margin-top: 20px;
}
.Sixth-page-content h2{
    text-align: left;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 20px;
}
.Hepatitis{
    width:98%;
    height: 90px;
    display: flex;
    justify-content:left;
    padding-top: 5px;
    margin: 20px 25px;
}
.Hepatitis-image{
    width: 60px;
    height: 60px;
    background: #EEEEEE;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Hepatitis-image img{
    width: 40px;
}
.Hepatitis-content{
    width: 85%;
    height: 70px;
    margin-left: 20px;
}
.Hepatitis-content h5{
    font-family:sans-serif;
    font-size: 18px;
    color: #0D6DB7;
}
.Hepatitis-content p{
    font-family: sans-serif;
    font-size: 15px;
    color: #000000;
    text-align: justify;
    margin-top: 5px;
}
/* Sixth page End */
/* Seventh Page Start */
.Seventh-Page{
    width: 100%;
    height: 420px;
    margin: 20px 0;
}
.Seventh-page-main-caontainer{
    width: 85%;
    height: 400px;
    margin: 0 auto;
    background: #0D6DB7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container-child{
    width: 95%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.main-container-child-food{
    width: 200px;
    height: 280px;
    display: flex;
    justify-content: center;
}
.Food-child{
    width: 150px;
    height:280px;
}
.Food-child-image{
    width: 150px;
    height: 160px;
}
.Food-child-Content{
    width: 150px;
    height: 120px;
}
.image-container{
    width: 150px;
    height: 140px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Food-child-Content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Food-child-Content h2{
    font-size: 30px;
    color: #ffffff;
    padding: 5px 0;
}
.food-two{
    font-size: 18px;
    color: #ffffff;
    margin-top: 2px;
}
.Daily{
    font-size: 15px;
    color: #ffffff;
    margin-top: 2px;
}
.Eight-page{
    width: 100%;
    height: 130px;
}
.Eight-page-content{
    width: 85%;
    height:100px ;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Eight-page-content span{
    color: #ABC63F;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
}
.Eight-page-content h2{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    color: #000000;
    margin-top: 10px;
}
/* Seventh Page Start */
/* 9th page start */
.Ninth-page{
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Ninth-page-child{
    width: 80%;
    height: 400px;
    background: #EEEEEE;
}
.child-image{
    width: 100%;
    height: 120px;
    margin-top: 5px;

}
.image-child{
    width: 15%;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px; 
   
}
.image-child img{
    width: 140px;
    height: 110px;
    border-radius: 50%;
}
.Child-content{
    width: 90%;
    height:190px ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.Ninth-page h4{
    color: #0D83C9;
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 600;
}
.Ninth-page span{
    font-family: sans-serif;
    font-size: 16px;
    color: #000000D9;
    text-align:center;
}
.para{
    font-family: sans-serif;
    font-size: 16px;
    color: #000000D9;
    line-height: 30px;
    text-align: center;
}
.btn{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.arrow-left{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color: #363636;
    border-radius: 10px;
}
.arrow-right{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8DC63F;
    color: #ffffff;
    border-radius: 10px;
}
/* 9th page End */
/* 10th page start */
.Tenth-page{
    width: 100%;
    height: 930px;
}
.Tenth-page-heading{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
}
.Media-Update{
    width: 100%;
    height: 50px;
}
.Media-Update h2{
    color: #000000D9;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
}
.Tenth-page-Content{
    width: 100%;
    height: 600px;
}
.Tenth-page-Content-1st{
    width: 100%;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.SMIT{
    width: 260px;
    height: 400px;
    cursor: pointer;
    border: 1px solid #F0F0F0;
}
.SMIT-image{
    width: 100%;
    height:270px ;
    margin: 0 auto;
    position: relative;
    border-radius: 2px;
    border-radius: 10px;
}
.SMIT-image img{
    width: 100%;
    height:260px;
    opacity:0.3 black;
    border-radius: 2px;
    border-radius: 10px;
}
.SMIT-image span img{
    width: 50px;
    height: 50px;
    position: absolute;
    left:110px;
    top: 130px;
}
.Tag{
    width: 130px;
    height: 20px;
    background: #1890FF;
    color: #ffffff;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    position: absolute;
    left: 130px;
    top: 5px;
}
.SMIT-Content{
    width: 90%;
    height: 130px;
    margin: 0 auto;

}
.SMIT-Content h5{
    color: #000000D9;
    font-size: 18px;
    line-height: 22px;
}
.SMIT-Content span{
    color: #424242;
    font-size: 14px;
    margin: 50px 5px;
}
/* 10th page End */
/* 11th page start */
.Eleone-page{
    width: 100%;
    height: 500px;
}
.News-heading{
    width: 100%;
    height: 50px;
}
.News-heading{
    color: #000000D9;
    font-family: sans-serif;
    font-size: 28px;
    text-align: center;
}
.News{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 30px 0;
}
.News-rows{
    width: 230px;
    height: 380px;
    background: #EEEEEE;
    cursor: pointer;
}
.News-images{
    width: 100%;
    height: 180px;
    margin: 0 auto;
    border-radius: 10px;
}
.News-images img{
    width: 100%;
    height: 180px;
    border-radius: 10px;
}
.News-content{
    width: 100%;
    height:190px;
}
.News-content-Box{
    width: 90%;
    height:170px;
    margin: 12px auto;
    position: relative;
}
.News-content-Box button{
    width: 100px;
    height: 25px;
    background-color: #8DC63F;
    color: #ffffff;
    font-size: 11px;
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 12px;
    left: 10px;
}
.News-content-Box h5{
    color: #000000D9;
    font-size: 18px;
    background: transparent;
    margin: 10px 10px;
    line-height: 20px;
}
.btn-arrow{
    width: 98%;
    height: 50px;
}
.btn-arrow button{
    background: #ffffff;
    width: 50px;
    height: 30px;
    position: relative;
    left: 10px;
    top: 10px;
    color: #000000D9;
}
/* 12th page start */
.Twelveth-page{
    width: 100%;
    height: 400px;
}
.Guid{
    width: 85%;
    height: 300px;
    margin: 50px auto;
    background: #1D73B3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Saylani-Guid{
    width: 470px;
    height: 180px; 
}
.Saylani-Guid_Heading{
    width:100%;
    height:50px;
}
.Saylani-Guid_Heading h2{
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}
.Saylani-Guid-inputs{
    width: 100%;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 10px;
}
.Saylani-Guid-inputs input{
    width: 90%;
    height: 30px;
    padding: 15px;
    background: transparent;
    border: none;
    margin: 10px 0;
    font-size: 15px;
}
.Saylani-Guid-button{
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 5px;
}
.Saylani-Guid-button button{
    width: 100%;
    height: 50px;
    background: #ffffff;
    border: none;
    position: absolute;
    top: 0;
    border-radius: 5px;
    cursor: pointer;
}
.Saylani-Guid-button button span{
    color: #000000D9;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 550;
}
/* 12th page End */
/* 13th page start */
.Thateenth-page{
    width: 100%;
    height: 520px;
    background: url(images/Footer-background.png);
    background-position:bottom;
    background-size: cover;
    background-size:1500px;
    background-repeat: no-repeat;
    background-color: #424242;
    position: relative;
}
.Footer-logo{
    width:300px;
    height:80px;
    margin-top: 50px;
    margin-left: 100px;
}
.Footer-logo img{
    width:300px ;
}
.Footer-media-logo{
    width: 250px;
    height: 50px;
    margin-left: 110px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}
.facebook{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.facebook img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.Footer-about{
    width: 110px;
    height: 270px;
    position: absolute;
    left: 450px;
    top: 70px;
}
.Footer-about h4{
    color: #ffffff;
    font-size: 22px;
    margin-left: 10px;
    text-decoration: none;
}

.Footer-about span{
    color:#ffffff;
    font-size: 15px;
    font-family:sans-serif;
    font-weight: 500;
    position: relative;
    left: 10px;
    top: 5px;
    cursor: pointer;

}
.Intro-span{
    line-height: 40px;
}
.Footer-Explore{
    width: 110px;
    height: 270px;
    position: absolute;
    left: 650px;
    top: 70px;
}
.Footer-Explore h4{
    color: #ffffff;
    font-size: 22px;
    margin-left: 10px;
    text-decoration: none;
}
.Footer-Explore span{
    color:#ffffff;
    font-size: 15px;
    font-family:sans-serif;
    font-weight: 500;
    position: relative;
    left: 10px;
    top: 5px;
    cursor: pointer;
}
.Expo-span{
    line-height: 45px;
}
.Footer-Contact{
    width: 200px;
    height: 400px;
    position: absolute;
    left:200px;
    top: 0;
    
}
.Contact-span{
    width: 100%;
    height: 350px;
    position: relative;
    margin-top: 10px;
    line-height: 22px; 
}
.Contact-span span{
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}




/* 13th page start */
















